{extends "../@layout.latte"}

{block content}
    <h1>Analytical queries</h1>
    <ul>
        <li><a href="/olap/octopus">Octopus posts</a> (posts bound to the largest amount of tiers)</li>
        <li><a href="/olap/richest/users">Users who spend the most</a></li>
        <li><a href="/olap/richest/creators">Creators who earn the most</a></li>
    </ul>
{/block}
